@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  box-sizing: border-box;
  --main-bg: #e5e5e5;
  --main-color: #333333;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  min-width: 100vw;
  font-family: "Roboto", sans-serif;
  /*display: flex;
  align-items: center;
  justify-content: center;*/
  background-color: var(--main-bg);
}

.menu {
  box-shadow: 5px 6px 6px rgb(0 0 0 / 0.25);
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  background: linear-gradient(45deg, #4a1bb4, #6a18a4);
  margin: 0;
}

.site-nav {
  display: flex;
  padding: 0.5em;
  list-style-type: none;
  margin: 0;
  justify-content: flex-end;
}

.hamburger {
  display: none;
  cursor: pointer;
  padding: 0.5em;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.nav-link {
  display: block;
  padding: 0.5em 1.5em;
  color: #ececec;
  text-decoration: none;
  margin-left: auto;
  font-size: 1em;
  transition: 0.7s ease;
  position: relative;
}

.nav-link:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #e51ead;
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.nav-link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.backgroundImage {
  background-image: url("./images/backgroundBig.svg");
  background-repeat: no-repeat;
  position: relative;
  height: 170px;
  width: 100vw;
  background-size: 100% auto;
  display: block;
  z-index: -1;
}

.date {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em;
}

span::after {
  padding-left: 5px;
}

input:invalid+span::after {
  content: "✖";
  font-size: 1.4em;
}

input:valid+span::after {
  content: "✓";
  color: green;
  font-size: 2em;
  font-weight: bold;
}

input[type="date"] {
  appearance: none;
  -webkit-appearance: none;
  color: #656464;
  font-size: 1.6em;
  border: 1px solid #616161;
  border-radius: 10px;
  background: #ecf0f1;
  padding: 10px;
  display: inline-block !important;
  visibility: visible !important;
}

input[type="date"],
focus {
  color: #656464;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

.mainContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-content: space-around;
  gap: 1em;
}

section {
  width: 60%;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.containerHeader {
  display: flex;
  align-content: space-between;
  align-items: center;
  justify-content: space-between;
}

.storeName {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  gap: 15px;
  align-items: center;
}

.storeName>p {
  font-size: 1.2em;
  font-weight: bold;
  color: #656464;
  margin: 0;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 10px;
}

.store-picture {
  width: 24px;
  margin: 8px;
  filter: invert(41%) sepia(0%) saturate(0%) hue-rotate(102deg) brightness(91%) contrast(85%);
}

.buttonCheck {
  content: "✓";
  font-size: 1.4em;
  padding: 5px 20px 5px 20px;
  background: linear-gradient(to bottom right, #e51ead, #e086bf);
  color: transparent;
  border-radius: 25px;
  font-weight: bold;
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.3);
}

.accordion {
  background: linear-gradient(to bottom right, #5c35b6, #8461c5);
  padding: 2px 25px 2px 25px;
  border-radius: 15px;
  border: none;
  box-shadow: 2px 3px 4px 1px rgba(0, 0, 0, 0.3);
}

.accordion>p {
  font-size: 2em;
  font-weight: 500;
  color: white;
  margin: 0;
  transition: 0.3s ease-in-out;
}

.accordion:hover {
  background: linear-gradient(to bottom right, #482990, #7455ad);
  cursor: pointer;
}

.accordion:active {
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.3);
}

.accordion>img {
  transform: rotate(90deg);
}

.containerItem {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 95%;
  background-color: #f6f6f6;
  margin: 10px auto 10px auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.imageItem {
  flex: 1 1 33.33%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.items {
  flex: 1 1 66.67%;
}

.imageItem>img {
  width: 55px;
  border-radius: 25px;
}

.imageItem>p {
  color: #292929;
  font-weight: bold;
}

.soldItems {
  display: flex;
  align-items: center;
  gap: 1.2em;
  justify-content: flex-end;
  margin: 10px 0px 10px 0px;
}

.soldItems>label {
  margin-right: 20%;
}

.soldItems>input {
  width: 5em;
  height: 1.8em;
  border-radius: 5px;
  border: 1px solid #a3a3a3;
}

.soldItems>input:hover {
  border: 1px solid #939393;
}

.itemsQuantities {
  margin: 0px 20px 0px 0px;
}

.weight {
  margin: 0px 29px 0px 0px;
}

.containerSaving {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px 20px 30px;
}

.containerSaving>button {
  border: none;
  color: white;
  padding: 4px 25px;
  border-radius: 15px;
  font-size: 1em;
  font-weight: bold;
  box-shadow: 2px 3px 4px 1px rgba(0, 0, 0, 0.3);
}

.containerSaving>button:nth-child(1){
  background: linear-gradient(to bottom right,  #9f9f9f, #b9b8b8);
}
.containerSaving>button:nth-child(2){
  background: linear-gradient(to bottom right, #d5d6d6eb, #ffffffeb);
  color: #e51ead;
  font-size: 1.5rem;
  padding: 4px 18px;

}
.containerSaving>button:nth-child(3){
  background: linear-gradient(to bottom right, #e51ead, #e086bf);
}

.containerSaving>button:nth-child(1):hover {
  background: linear-gradient(to bottom right,  #7c7c7c, #919191);
  cursor: pointer;
}

.containerSaving>button:nth-child(3):hover {
  background: linear-gradient(to bottom right, #cd1b9b, #c375a6);
  cursor: pointer;
}

.containerSaving>button:active {
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.3);
}

.wrapper {
  -moz-transition: height 0.5s;
  -ms-transition: height 0.5s;
  -o-transition: height 0.5s;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
  height: 0;
  overflow: hidden;
}

.summary {
  width: 60%;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 1em;
  margin: auto;
  margin-top: 1.5em;
  margin-bottom: 1em;
}

.containerSummary {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr;
  grid-template-rows: min-content min-content;
  margin: 0;
  align-items: center;
}

.titleFirst {
  grid-column: 2 / 4;
  grid-row: span 1;
}

.titleSecond {
  grid-column: 4 / 6;
  grid-row: span 1;
}

.subtitles,
.quantityFirst,
.priceFirst,
.quantitySecond,
.priceSecond {
  border-bottom: 3px solid #d9d9d9;
  border-top: 3px solid #d9d9d9;
}

.subtitles>p,
.quantityFirst>p,
.priceFirst>p,
.quantitySecond>p,
.priceSecond>p {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.sum {
  margin-top: 0.5em;
}

.titleFirst,
.titleSecond {
  margin-bottom: 0.5em;
}

.summaryBottom,
.summaryTitle>p {
  font-size: 1.2em;
  font-weight: bold;
  color: #333232;
  padding-left: 1em;
}

.titleFirst,
.titleSecond {
  font-size: 1.2em;
  font-weight: bold;
  color: #4a1bb4;
}

.quantityFirst,
.quantitySecond,
.sumQuantityFirst,
.sumQuantitySecond,
.sumPriceFirst,
.sumPriceSecond {
  font-size: 1.1em;
  font-weight: bold;
  color: #4a1bb4;
}

.priceFirst,
.priceSecond {
  font-size: 1.1em;
  font-weight: bold;
  color: #e31baa;
}

.priceFirst>p:nth-of-type(1),
.priceSecond>p:nth-of-type(1) {
  color: #4a1bb4;
}

.quantityFirst>p:nth-of-type(2),
.quantitySecond>p:nth-of-type(2) {
  color: #e31baa;
}


.subtitles>p {
  font-size: 1.1em;
  font-weight: bold;
  color: #333232;
  padding-left: 1em;
}

@media screen and (min-width: 1700px) {
  .backgroundImage {
    height: 280px;
  }
}

@media screen and (max-width: 769px) {
  .backgroundImage {
    height: 85px;
  }

  .hamburger {
    display: block;
    padding: 1em;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .site-nav {
    position: fixed;
    left: -100%;
    gap: 0;
    flex-direction: column;
    background: linear-gradient(45deg, #4a1bb4, #6a18a4);
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .site-nav>li {
    margin: 16px 0;
  }

  .site-nav.active {
    left: 0;
  }

  .date {
    padding: 1em;
  }
}

@media screen and (max-width: 576px) {
  .backgroundImage {
    background-image: url("./images/background.svg");
    height: 150px;
  }
}

@media screen and (max-width: 426px) {
  .backgroundImage {
    height: 100px;
  }
}

@media screen and (max-width: 321px) {
  .backgroundImage {
    height: 70px;
  }
}