
.graphs-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.graphs{
    position: relative;
    width: 60%;
    // height: 100vh;
    display: none;
}

.graphs.active{
    display: block;
    background-color: #fdfdfd;
    border-radius: 15px;
    padding: 2rem 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}