/* Main Menu page */
.textWelcome {
  padding: 0.6em 2em;
  color: #ececec;
  font-size: 1.6rem;
  font-weight: bolder;
}

.submenu {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 70%;
  box-sizing: initial;
}

.submenu-rows {
  display: flex;
  padding: 1rem;
}

.submenu-tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0.4em 1.5em;
  cursor: pointer;
  font-weight: bold;
  transition: background ease 0.3s;
  background: #f7f7f7;
  border-radius: 15px;
  box-shadow: 2px 3px 4px 1px rgb(0 0 0 / 30%);
  padding-top: 1.5rem;
  margin: 0rem 1rem 0rem 1rem;
}

.submenu-tabs:active {
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.3);
}

/* .accordion:active {
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.3);
  } */

.submenu-background {
  padding: 0.5rem;
  border-radius: 4rem;
  height: auto;
  width: auto;
}

.first-menu {
  background: linear-gradient(45deg, #ffd3a5, #fd6585);
}

.first-menu:hover {
  background: linear-gradient(45deg, #ecc499, #e95c7b);
}

.second-menu {
  background: linear-gradient(45deg, #90f390, #33a715);
}

.second-menu:hover {
  background: linear-gradient(45deg, #84df84, #2b8e12);
}

.third-menu {
  background: linear-gradient(45deg, #ffe985, #fa742b);
}

.third-menu:hover {
  background: linear-gradient(45deg, #e6d177, #e16928);
}

.fourth-menu {
  background: linear-gradient(45deg, #5efce8, #736efe);
}

.fourth-menu:hover {
  background: linear-gradient(45deg, #54decb, #635fde);
}

.submenu-pic {
  display: flex;
  justify-content: center;
  padding: 1em;
  width: 3em;
  height: 3em;
  filter: invert(99%) sepia(5%) saturate(53%) hue-rotate(15deg) brightness(113%)
    contrast(95%);
}

.submenu-title {
  color: #656464;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
}

/* Modal styles */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); /* Overlay background */
}

/* Modal content styles */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 50px;
  border: 1px solid #888;
  border-radius: 5px;
  max-width: 400px;
  text-align: center;
  position: relative;
}

/* Close button styles */
.close {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

/* Close button hover effect */
.close:hover {
  color: #f00;
}
