@charset "UTF-8";
.tabSaleReturn {
  float: left;
  text-align: center;
  width: 29%;
  margin: 0 auto;
}
.tabSaleReturn label {
  padding: 10px 0;
  margin: 0 auto;
  position: relative;
  height: 100%;
  line-height: 24px;
  overflow: hidden;
  text-align: center;
  z-index: 1;
  display: inline-block;
  border-radius: 15px;
  width: 80%;
  background-color: #fdfdfd;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 6px 6px 8px 0 rgba(0, 0, 0, 0.3), -12px -12px 24px 0 rgba(255, 255, 255, 0.5);
}
@media screen and (max-width: 426px) {
  .tabSaleReturn label {
    padding: 10px 30px;
  }
}

.return-button {
  left: 73%;
}
@media screen and (max-width: 426px) {
  .return-button {
    left: 80%;
  }
}

.sale-button {
  left: 73%;
}
@media screen and (max-width: 426px) {
  .sale-button {
    left: 30%;
  }
}

.productTab {
  padding: 20px 0px;
}
.productTab button {
  background: #fff;
  box-shadow: 4px 6px 6px 1px rgba(0, 0, 0, 0.3), -12px -12px 24px 0 rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 15px;
  cursor: pointer;
  padding: 4px 8px 3px;
}
.productTab button:nth-of-type(2) {
  margin: 0rem 2rem;
}
@media screen and (max-width: 426px) {
  .productTab button:nth-of-type(2) {
    margin: 0rem 1rem;
  }
}

.tab-button.active {
  background-color: #f6f6f6;
  box-shadow: inset 3px 3px 8px 0 rgba(0, 0, 0, 0.3), inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);
}

.mainContent {
  display: none;
  padding: 10px 0px;
}
.mainContent.active {
  display: block;
  margin: auto;
  width: 65%;
}
@media screen and (max-width: 768px) {
  .mainContent.active {
    width: 75%;
  }
}
@media screen and (max-width: 426px) {
  .mainContent.active {
    width: 100%;
  }
}

.storeName {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  gap: 15px;
  align-items: center;
}
.storeName p {
  font-size: 1.2rem;
  font-weight: bold;
  color: #656464;
  margin: 0;
}
@media screen and (max-width: 768px) {
  .storeName p {
    font-size: 1rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  gap: 1.3rem;
  padding: 10px;
}

.buttonCheck {
  content: "✓";
  font-size: 1.4rem;
  padding: 5px 20px 5px 20px;
  background: linear-gradient(to bottom right, #e51ead, #e086bf);
  color: transparent;
  border-radius: 25px;
  font-weight: bold;
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.3);
}
@media screen and (max-width: 426px) {
  .buttonCheck {
    padding: 2px 18px 2px 18px;
  }
}

.accordion {
  background: linear-gradient(to bottom right, #5c35b6, #8461c5);
  padding: 2px 1.5rem 2px 1.5rem;
  border-radius: 15px;
  border: none;
  box-shadow: 2px 3px 4px 1px rgba(0, 0, 0, 0.3);
}
@media screen and (max-width: 426px) {
  .accordion {
    padding: 1px 1.3rem 1px 1.3rem;
  }
}
.accordion p {
  font-size: 2rem;
  font-weight: 500;
  color: white;
  margin: 0;
  transition: 0.3s ease-in-out;
}
@media screen and (max-width: 426px) {
  .accordion p {
    font-size: 1.8rem;
  }
}
.accordion:hover {
  background: linear-gradient(to bottom right, #512fa1, #7656b0);
  cursor: pointer;
}
.accordion:active {
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.3);
}

.containerItem {
  display: flex;
  flex-direction: row;
  width: 95%;
  background-color: #f6f6f6;
  margin: 10px auto 10px auto;
  padding: 0.5rem 0rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.containerMain {
  display: none;
}
.containerMain.active {
  display: block;
}

.imageItem {
  flex: 1 1 33.33%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .imageItem {
    flex: 18%;
    padding-left: 10px;
  }
}
.imageItem img {
  width: 55px;
  border-radius: 25px;
}
.imageItem p {
  color: #292929;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .imageItem p {
    display: none;
  }
}

.items {
  flex: 1 1 66.67%;
}
@media screen and (max-width: 768px) {
  .items {
    flex: 78%;
  }
}

.soldItems,
.returnItems {
  display: flex;
  align-items: center;
  gap: 1.2em;
  justify-content: flex-end;
  margin: 10px 0px 10px 0px;
}
@media screen and (max-width: 768px) {
  .soldItems,
  .returnItems {
    gap: 0.5rem;
  }
}
.soldItems.hide,
.returnItems.hide {
  display: none;
}
.soldItems label,
.returnItems label {
  margin-right: 20%;
}
@media screen and (max-width: 768px) {
  .soldItems label,
  .returnItems label {
    margin-right: 0%;
  }
}
.soldItems input,
.returnItems input {
  width: 5em;
  height: 1.8em;
  border-radius: 5px;
  border: 1px solid #a3a3a3;
}
.soldItems input:hover,
.returnItems input:hover {
  border: 1px solid #939393;
}
.soldItems p,
.returnItems p {
  margin: 0px 20px 0px 0px;
}
@media screen and (max-width: 768px) {
  .soldItems p,
  .returnItems p {
    margin: 0px 10px 0px 0px;
  }
}

.invisible {
  visibility: hidden;
}

.containerSaving {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px 20px 30px;
}
.containerSaving button {
  border: none;
  color: white;
  padding: 4px 18px;
  border-radius: 15px;
  font-size: 1rem;
  font-weight: bold;
  box-shadow: 2px 3px 4px 1px rgba(0, 0, 0, 0.3);
  margin: 0rem 0.5rem;
}
@media screen and (max-width: 768px) {
  .containerSaving button {
    font-size: 0.9rem;
  }
}
.containerSaving button:active {
  box-shadow: 1px 1px 4px 1px rgba(54, 54, 54, 0.3);
}
.containerSaving button:nth-child(1) {
  background: linear-gradient(to bottom right, #e51ead, #e086bf);
}
.containerSaving button:nth-child(1):hover {
  background: linear-gradient(to bottom right, #c91a97, #c376a7);
  cursor: pointer;
}
.containerSaving button:nth-child(2) {
  background: linear-gradient(to bottom right, rgba(213, 214, 214, 0.9215686275), rgba(255, 255, 255, 0.9215686275));
  color: #e51ead;
  font-size: 1.5rem;
  padding: 4px 18px;
}
.containerSaving button:nth-child(2):hover {
  background: linear-gradient(to bottom right, rgba(195, 196, 196, 0.9215686275), rgba(229, 229, 229, 0.9215686275));
  cursor: pointer;
}
.containerSaving button:nth-child(3) {
  background: linear-gradient(to bottom right, #e51ead, #e086bf);
}
.containerSaving button:nth-child(3):hover {
  background: linear-gradient(to bottom right, #c91a97, #c376a7);
  cursor: pointer;
}

.extra-sale-container {
  display: flex;
  flex-direction: column;
  width: 95%;
  height: 110px;
  background-color: #f6f6f6;
  margin: 10px auto 20px auto;
  padding: 0.5rem 0rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.extra-sale-container .extra-Sale-Wrapper {
  display: flex;
  flex-direction: row;
}
.extra-sale-container .extra-Sale-Wrapper .extra-sale-title {
  flex: 1 1 33.33%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .extra-sale-container .extra-Sale-Wrapper .extra-sale-title {
    flex: 18%;
  }
}
.extra-sale-container .extra-Sale-Wrapper .extra-sale-title img {
  width: 50px;
}
.extra-sale-container .extra-Sale-Wrapper .extra-sale-title p {
  color: #525252;
  font-weight: bold;
  padding-left: 5px;
}
@media screen and (max-width: 768px) {
  .extra-sale-container .extra-Sale-Wrapper .extra-sale-title p {
    display: none;
  }
}
.extra-sale-container .extra-Sale-Wrapper .extra-sale-input {
  flex: 1 1 66.67%;
  display: flex;
  align-items: center;
  gap: 1.2rem;
  justify-content: flex-end;
  margin: 10px 0px 10px 0px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .extra-sale-container .extra-Sale-Wrapper .extra-sale-input {
    flex: 1 1 78%;
    gap: 0.5rem;
  }
}
.extra-sale-container .extra-Sale-Wrapper .extra-sale-input label {
  margin-right: 20%;
}
@media screen and (max-width: 768px) {
  .extra-sale-container .extra-Sale-Wrapper .extra-sale-input label {
    margin-right: 0%;
  }
}
.extra-sale-container .extra-Sale-Wrapper .extra-sale-input input {
  width: 5em;
  height: 1.8em;
  border-radius: 5px;
  border: 1px solid #a3a3a3;
}
.extra-sale-container .extra-Sale-Wrapper .extra-sale-input p {
  margin: 0px 20px 0px 0px;
}
@media screen and (max-width: 768px) {
  .extra-sale-container .extra-Sale-Wrapper .extra-sale-input p {
    margin: 0px 10px 0px 0px;
  }
}
.extra-sale-container .extra-sale {
  display: flex;
  justify-content: flex-end;
  padding: 15px 20px 5px 0px;
}
.extra-sale-container .extra-sale button {
  border: none;
  color: #525252;
  padding: 8px 18px;
  border-radius: 15px;
  font-size: 1rem;
  font-weight: bold;
  box-shadow: 2px 3px 4px 1px rgba(0, 0, 0, 0.3);
  background: linear-gradient(45deg, #E2E2E2, #C8C8C8);
}
@media screen and (max-width: 768px) {
  .extra-sale-container .extra-sale button {
    font-size: 0.9rem;
  }
}
.extra-sale-container .extra-sale button:hover {
  background: linear-gradient(45deg, #d8d6d6, #b7b6b6);
  cursor: pointer;
}
.extra-sale-container .extra-sale button:active {
  box-shadow: 1px 1px 4px 1px rgba(54, 54, 54, 0.3);
}
.extra-sale-container .extra-sale .extra-sale-button.active {
  background: linear-gradient(45deg, #888888, #636363);
  color: #f2f2f2;
}

.summary {
  width: 60%;
  position: relative;
  /* top: 500px; */
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 1em;
  margin: auto;
  margin-top: 1.5em;
  margin-bottom: 3rem;
  height: 100%;
}
@media screen and (max-width: 768px) {
  .summary {
    width: 85%;
  }
}

.containerSummary {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr;
  grid-template-rows: min-content min-content;
  margin: 0;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .containerSummary {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.titleFirst {
  grid-column: 2/3;
  grid-row: span 1;
}

.titleSecond {
  grid-column: 3/4;
  grid-row: span 1;
}

.titleThird {
  grid-column: 4/5;
  grid-row: span 1;
}

.subtitles,
.quantityFirst,
.quantitySecond,
.quantityThird {
  border-bottom: 3px solid #d9d9d9;
  border-top: 3px solid #d9d9d9;
}
.subtitles p,
.quantityFirst p,
.quantitySecond p,
.quantityThird p {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.sum {
  margin-top: 0.5rem;
}

.summaryBottom,
.summaryTitle > p {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333232;
  padding-left: 1rem;
}

@media screen and (max-width: 768px) {
  .summaryBottom {
    font-size: 1rem;
    padding-left: 0rem;
  }
}

.titleFirst,
.titleSecond,
.titleThird {
  font-size: 1.2rem;
  font-weight: bold;
  color: #4a1bb4;
  margin-bottom: 0.5rem;
}
@media screen and (max-width: 768px) {
  .titleFirst,
  .titleSecond,
  .titleThird {
    font-size: 1rem;
  }
}

.quantityFirst,
.quantitySecond,
.quantityThird {
  font-size: 1.1rem;
  font-weight: bold;
  color: #4f4f4f;
}
@media screen and (max-width: 768px) {
  .quantityFirst,
  .quantitySecond,
  .quantityThird {
    font-size: 1rem;
  }
}

.sumQuantityFirst,
.sumQuantitySecond,
.sumQuantityThird {
  font-size: 1.1rem;
  font-weight: bold;
  color: #4a1bb4;
}
@media screen and (max-width: 768px) {
  .sumQuantityFirst,
  .sumQuantitySecond,
  .sumQuantityThird {
    font-size: 1rem;
  }
}

.quantityFirst > p:nth-of-type(2),
.quantitySecond > p:nth-of-type(2) {
  color: #4f4f4f;
}

.subtitles > p {
  font-size: 1.1rem;
  font-weight: bold;
  color: #4f4f4f;
  padding-left: 1em;
}
@media screen and (max-width: 768px) {
  .subtitles > p {
    font-size: 1rem;
    padding-left: 0em;
  }
}

.footer {
  height: 3rem;
  position: relative;
}/*# sourceMappingURL=style.css.map */