@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
.menu {
  box-shadow: 5px 6px 6px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  background: linear-gradient(45deg, #4a1bb4, #6a18a4);
  margin: 0;
  padding-top: 1em;
}
@media screen and (max-width: 768px) {
  .menu {
    padding-top: 0em;
  }
}

.site-nav {
  display: flex;
  padding: 0.5em;
  list-style-type: none;
  margin: 0;
  justify-content: flex-end;
}
@media screen and (max-width: 768px) {
  .site-nav li {
    margin: 10px 0;
  }
}
@media screen and (max-width: 768px) {
  .site-nav.active {
    left: 0;
  }
}
@media screen and (max-width: 768px) {
  .site-nav {
    position: fixed;
    top: 0;
    left: -150%;
    gap: 0rem;
    flex-direction: column;
    background: linear-gradient(45deg, #4a1bb4, #6a18a4);
    width: 100%;
    text-align: center;
    transition: 0.3s;
    height: 100vh;
    justify-content: center;
    z-index: 10;
  }
}

.hamburger {
  display: none;
  cursor: pointer;
  padding: 0.5em;
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
    padding: 0.7rem 1rem;
    z-index: 10;
  }
}
.hamburger.active {
  position: fixed;
}
@media screen and (max-width: 768px) {
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
}
@media screen and (max-width: 768px) {
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
}
@media screen and (max-width: 768px) {
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.nav-link {
  display: block;
  padding: 0.5em 1.5em;
  color: #ececec;
  text-decoration: none;
  margin-left: auto;
  font-size: 1rem;
  transition: 0.7s ease;
  position: relative;
}
@media screen and (max-width: 768px) {
  .nav-link {
    margin: 16px 0;
    font-size: 1.5rem;
  }
}

.nav-link:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #e51ead;
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.nav-link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.backgroundImage {
  background-image: url("../images/backgroundBig.svg");
  background-repeat: no-repeat;
  position: relative;
  height: 170px;
  width: 100vw;
  background-size: 100% auto;
  display: block;
  z-index: -1;
}
@media screen and (max-width: 321px) {
  .backgroundImage {
    height: 90px;
  }
}
@media screen and (min-width: 321px) and (max-width: 426px) {
  .backgroundImage {
    height: 130px;
  }
}
@media screen and (max-width: 576px) {
  .backgroundImage {
    background-image: url("../images/background.svg");
    background-size: 120%;
  }
}
@media screen and (min-width: 426px) and (max-width: 576px) {
  .backgroundImage {
    height: 150px;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  .backgroundImage {
    height: 100px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1440px) {
  .backgroundImage {
    height: 170px;
  }
}
@media screen and (min-width: 1440px) and (max-width: 1700px) {
  .backgroundImage {
    height: 220px;
  }
}
@media screen and (min-width: 1700px) {
  .backgroundImage {
    height: 320px;
  }
}

.textWelcome {
  padding: 0.6rem 2rem;
  color: #ececec;
  font-size: 1.6rem;
  font-weight: bolder;
}
@media screen and (max-width: 768px) {
  .textWelcome {
    font-size: 1.3rem;
    padding: 0.6em 1rem;
  }
}

.container {
  height: -moz-min-content;
  height: min-content;
  width: 100vw;
  margin: 0;
  max-width: 100%;
}

.date {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
@media screen and (max-width: 768px) {
  .date {
    padding: 1rem;
  }
}

span::after {
  padding-left: 5px;
}

input:invalid + span::after {
  content: "✖";
  font-size: 1.4rem;
}

textarea:focus {
  outline: none;
}

input:valid + span::after {
  content: "✓";
  color: green;
  font-size: 2rem;
  font-weight: bold;
}

input[type=date] {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  color: #656464;
  font-size: 1.6rem;
  border: 1px solid #616161;
  border-radius: 10px;
  background: #ecf0f1;
  padding: 10px;
  display: inline-block !important;
  visibility: visible !important;
}
@media screen and (max-width: 426px) {
  input[type=date] {
    font-size: 1.2rem;
  }
}
input[type=date]:focus {
  color: #656464;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

.dateButton {
  color: #656464;
  font-size: 1rem;
  border: 1px solid #616161;
  border-radius: 10px;
  background: #ecf0f1;
  padding: 6px;
  display: inline-block !important;
  visibility: visible !important;
  margin-left: 0.5rem;
}
.dateButton:hover {
  background: #dbdbdc;
  cursor: pointer;
  color: #3a3a3a;
}
.dateButton:active {
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.3);
}

.formTab {
  margin: 0 auto;
  padding: 50px 50px;
  height: auto;
  transition: height 0.5s;
}
@media screen and (max-width: 576px) {
  .formTab {
    padding: 20px 20px;
  }
}

.tab {
  position: relative;
  width: 100%;
  margin: auto auto;
  height: 200px;
}
.tab input[type=radio] {
  display: none;
}

.tabSaleReturn {
  float: left;
  text-align: center;
  width: 29%;
  margin: 0 auto;
}
.tabSaleReturn label {
  padding: 10px 20px;
  margin: 0 auto;
  position: relative;
  height: 100%;
  line-height: 24px;
  overflow: hidden;
  text-align: center;
  z-index: 1;
  display: inline-block;
  border-radius: 15px;
  width: 80%;
  background-color: #fdfdfd;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 6px 6px 8px 0 rgba(0, 0, 0, 0.3), -12px -12px 24px 0 rgba(255, 255, 255, 0.5);
}
@media screen and (max-width: 426px) {
  .tabSaleReturn label {
    padding: 10px 35px;
  }
}

.return-button {
  left: 73%;
}
@media screen and (max-width: 426px) {
  .return-button {
    left: 80%;
  }
}
@media screen and (min-width: 426px) and (max-width: 768px) {
  .return-button {
    left: 92%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1025px) {
  .return-button {
    left: 80%;
  }
}

.sale-button {
  left: 73%;
}
@media screen and (max-width: 426px) {
  .sale-button {
    left: 15%;
  }
}
@media screen and (min-width: 426px) and (max-width: 768px) {
  .sale-button {
    left: 48%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1025px) {
  .sale-button {
    left: 66%;
  }
}

.productTab {
  padding: 1.5rem 0rem 3rem 0rem;
}
.productTab button {
  background: #fff;
  box-shadow: 4px 6px 6px 1px rgba(0, 0, 0, 0.3), -12px -12px 24px 0 rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 15px;
  cursor: pointer;
  padding: 4px 8px 3px;
}
.productTab button:nth-of-type(2) {
  margin: 0rem 2rem;
}
@media screen and (max-width: 426px) {
  .productTab button:nth-of-type(2) {
    margin: 0rem 1rem;
  }
}

.tab-button.active {
  background-color: #f6f6f6;
  box-shadow: inset 3px 3px 8px 0 rgba(0, 0, 0, 0.3), inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);
}

.tabs {
  position: absolute;
  top: 38px;
  left: 50%;
  transform: translate(-50%);
  bottom: 0;
  z-index: 1;
  width: 100%;
  margin: 10px auto;
  height: 100vh;
  display: none;
}
.tabs button img {
  width: 55px;
  border-radius: 25px;
  padding: 5px 10px;
}

#tabone:checked ~ .tabs {
  display: block;
}

#tabtwo:checked ~ .tabs {
  display: block;
}

.tabContent {
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translate(-50%);
  bottom: 0;
  margin-top: 25px;
  z-index: 1;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

[type=radio]:checked ~ label {
  color: #5C35B6;
  z-index: 2;
  width: 80%;
  background: linear-gradient(45deg, #e3e3e3, #ede8e8);
  border-radius: 15px;
  font-weight: bold;
  font-size: 1.2rem;
  transition: 0.2s ease-in-out;
  box-shadow: inset 3px 3px 8px 0 rgba(0, 0, 0, 0.3), inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);
}

.mainContent {
  display: none;
  padding: 10px 0px;
}
.mainContent.active {
  display: block;
  margin: auto;
  width: 65%;
}
@media screen and (min-width: 1700px) {
  .mainContent.active {
    width: 35%;
  }
}
@media screen and (min-width: 1440px) and (max-width: 1700px) {
  .mainContent.active {
    width: 45%;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  .mainContent.active {
    width: 50%;
  }
}
@media screen and (min-width: 426px) and (max-width: 768px) {
  .mainContent.active {
    width: 85%;
  }
}
@media screen and (max-width: 426px) {
  .mainContent.active {
    width: 100%;
  }
}

.containerProduct {
  width: 100%;
  background-color: #ffffff;
  border-radius: 15px;
  margin: 1rem 0rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.containerHeader {
  display: flex;
  align-content: space-between;
  align-items: center;
  justify-content: space-between;
}

.storeName {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  gap: 15px;
  align-items: center;
}
.storeName p {
  font-size: 1.2rem;
  font-weight: bold;
  color: #656464;
  margin: 0;
}
@media screen and (max-width: 768px) {
  .storeName p {
    font-size: 1rem;
  }
}

.store-picture {
  width: 24px;
  margin: 8px;
  filter: invert(41%) sepia(0%) saturate(0%) hue-rotate(102deg) brightness(91%) contrast(85%);
}

.buttons {
  display: flex;
  align-items: center;
  gap: 1.3rem;
  padding: 10px;
}

.buttonCheck {
  content: "✓";
  font-size: 1.4rem;
  padding: 5px 20px 5px 20px;
  background: linear-gradient(to bottom right, #e51ead, #e086bf);
  color: transparent;
  border-radius: 25px;
  font-weight: bold;
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.3);
}
@media screen and (max-width: 426px) {
  .buttonCheck {
    padding: 2px 18px 2px 18px;
  }
}

.accordion {
  background: linear-gradient(to bottom right, #5c35b6, #8461c5);
  padding: 2px 1.5rem 2px 1.5rem;
  border-radius: 15px;
  border: none;
  box-shadow: 2px 3px 4px 1px rgba(0, 0, 0, 0.3);
}
@media screen and (max-width: 426px) {
  .accordion {
    padding: 1px 1.3rem 1px 1.3rem;
  }
}
.accordion p {
  font-size: 2rem;
  font-weight: 500;
  color: white;
  margin: 0;
  transition: 0.3s ease-in-out;
}
@media screen and (max-width: 426px) {
  .accordion p {
    font-size: 1.8rem;
  }
}
.accordion:hover {
  background: linear-gradient(to bottom right, #512fa1, #7656b0);
  cursor: pointer;
}
.accordion:active {
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.3);
}

.containerItem {
  display: flex;
  flex-direction: row;
  width: 95%;
  background-color: #f6f6f6;
  margin: 10px auto 10px auto;
  padding: 0.5rem 0rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.containerMain {
  display: none;
}
.containerMain.active {
  display: block;
}

.imageItem {
  flex: 1 1 33.33%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .imageItem {
    flex: 18%;
    padding-left: 10px;
  }
}
.imageItem img {
  width: 55px;
  border-radius: 25px;
}
.imageItem p {
  color: #292929;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .imageItem p {
    display: none;
  }
}

.items {
  flex: 1 1 66.67%;
}
@media screen and (max-width: 768px) {
  .items {
    flex: 78%;
  }
}

.soldItems,
.returnItems {
  display: flex;
  align-items: center;
  gap: 1.2em;
  justify-content: flex-end;
  margin: 10px 0px 10px 0px;
}
@media screen and (max-width: 768px) {
  .soldItems,
  .returnItems {
    gap: 0.5rem;
  }
}
.soldItems.hide,
.returnItems.hide {
  display: none;
}
.soldItems label,
.returnItems label {
  margin-right: 20%;
}
@media screen and (max-width: 768px) {
  .soldItems label,
  .returnItems label {
    margin-right: 0%;
  }
}
.soldItems input,
.returnItems input {
  width: 5em;
  height: 1.8em;
  border-radius: 5px;
  border: 1px solid #a3a3a3;
}
.soldItems input:hover,
.returnItems input:hover {
  border: 1px solid #939393;
}
.soldItems p,
.returnItems p {
  margin: 0px 20px 0px 0px;
}
@media screen and (max-width: 768px) {
  .soldItems p,
  .returnItems p {
    margin: 0px 10px 0px 0px;
  }
}

.invisible {
  visibility: hidden;
}

.containerSaving {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px 20px 30px;
}
.containerSaving button {
  border: none;
  color: white;
  padding: 4px 18px;
  border-radius: 15px;
  font-size: 1rem;
  font-weight: bold;
  box-shadow: 2px 3px 4px 1px rgba(0, 0, 0, 0.3);
  margin: 0rem 0.5rem;
}
@media screen and (max-width: 768px) {
  .containerSaving button {
    font-size: 0.9rem;
  }
}
.containerSaving button:active {
  box-shadow: 1px 1px 4px 1px rgba(54, 54, 54, 0.3);
}
.containerSaving button:nth-child(1) {
  background: linear-gradient(to bottom right, #e51ead, #e086bf);
}
.containerSaving button:nth-child(1):hover {
  background: linear-gradient(to bottom right, #c91a97, #c376a7);
  cursor: pointer;
}
.containerSaving button:nth-child(2) {
  background: linear-gradient(to bottom right, rgba(213, 214, 214, 0.9215686275), rgba(255, 255, 255, 0.9215686275));
  color: #e51ead;
  font-size: 1.5rem;
  padding: 4px 18px;
}
.containerSaving button:nth-child(2):hover {
  background: linear-gradient(to bottom right, rgba(195, 196, 196, 0.9215686275), rgba(229, 229, 229, 0.9215686275));
  cursor: pointer;
}
.containerSaving button:nth-child(3) {
  background: linear-gradient(to bottom right, #e51ead, #e086bf);
}
.containerSaving button:nth-child(3):hover {
  background: linear-gradient(to bottom right, #c91a97, #c376a7);
  cursor: pointer;
}

.wrapper {
  transition: height 0.5s;
  height: 0;
  overflow: hidden;
}

.extra-sale-container {
  display: flex;
  flex-direction: column;
  width: 95%;
  height: 110px;
  background-color: #f6f6f6;
  margin: 10px auto 20px auto;
  padding: 0.5rem 0rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.extra-sale-container .extra-Sale-Wrapper {
  display: flex;
  flex-direction: row;
}
.extra-sale-container .extra-Sale-Wrapper .extra-sale-title {
  flex: 1 1 33.33%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .extra-sale-container .extra-Sale-Wrapper .extra-sale-title {
    flex: 18%;
  }
}
.extra-sale-container .extra-Sale-Wrapper .extra-sale-title img {
  width: 50px;
}
.extra-sale-container .extra-Sale-Wrapper .extra-sale-title p {
  color: #525252;
  font-weight: bold;
  padding-left: 5px;
}
@media screen and (max-width: 768px) {
  .extra-sale-container .extra-Sale-Wrapper .extra-sale-title p {
    display: none;
  }
}
.extra-sale-container .extra-Sale-Wrapper .extra-sale-input {
  flex: 1 1 66.67%;
  display: flex;
  align-items: center;
  gap: 1.2rem;
  justify-content: flex-end;
  margin: 10px 0px 10px 0px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .extra-sale-container .extra-Sale-Wrapper .extra-sale-input {
    flex: 1 1 78%;
    gap: 0.5rem;
  }
}
.extra-sale-container .extra-Sale-Wrapper .extra-sale-input label {
  margin-right: 20%;
}
@media screen and (max-width: 768px) {
  .extra-sale-container .extra-Sale-Wrapper .extra-sale-input label {
    margin-right: 0%;
  }
}
.extra-sale-container .extra-Sale-Wrapper .extra-sale-input input {
  width: 5em;
  height: 1.8em;
  border-radius: 5px;
  border: 1px solid #a3a3a3;
}
.extra-sale-container .extra-Sale-Wrapper .extra-sale-input p {
  margin: 0px 20px 0px 0px;
}
@media screen and (max-width: 768px) {
  .extra-sale-container .extra-Sale-Wrapper .extra-sale-input p {
    margin: 0px 10px 0px 0px;
  }
}
.extra-sale-container .extra-sale {
  display: flex;
  justify-content: flex-end;
  padding: 15px 20px 5px 0px;
}
.extra-sale-container .extra-sale button {
  border: none;
  color: #525252;
  padding: 8px 18px;
  border-radius: 15px;
  font-size: 1rem;
  font-weight: bold;
  box-shadow: 2px 3px 4px 1px rgba(0, 0, 0, 0.3);
  background: linear-gradient(45deg, #E2E2E2, #C8C8C8);
}
@media screen and (max-width: 768px) {
  .extra-sale-container .extra-sale button {
    font-size: 0.9rem;
  }
}
.extra-sale-container .extra-sale button:hover {
  background: linear-gradient(45deg, #d8d6d6, #b7b6b6);
  cursor: pointer;
}
.extra-sale-container .extra-sale button:active {
  box-shadow: 1px 1px 4px 1px rgba(54, 54, 54, 0.3);
}
.extra-sale-container .extra-sale .extra-sale-button.active {
  background: linear-gradient(45deg, #888888, #636363);
  color: #f2f2f2;
}

.summary {
  width: 60%;
  position: relative;
  /* top: 500px; */
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 1em;
  margin: auto;
  margin-top: 1.5em;
  margin-bottom: 3rem;
  height: 100%;
}
@media screen and (max-width: 768px) {
  .summary {
    width: 85%;
  }
}

.containerSummary {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr;
  grid-template-rows: min-content min-content;
  margin: 0;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .containerSummary {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.titleFirst {
  grid-column: 2/3;
  grid-row: span 1;
}

.titleSecond {
  grid-column: 3/4;
  grid-row: span 1;
}

.titleThird {
  grid-column: 4/5;
  grid-row: span 1;
}

.subtitles,
.quantityFirst,
.quantitySecond,
.quantityThird {
  border-bottom: 3px solid #d9d9d9;
  border-top: 3px solid #d9d9d9;
}
.subtitles p,
.quantityFirst p,
.quantitySecond p,
.quantityThird p {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.sum {
  margin-top: 0.5rem;
}

.summaryBottom,
.summaryTitle > p {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333232;
  padding-left: 1rem;
}

@media screen and (max-width: 768px) {
  .summaryBottom {
    font-size: 1rem;
    padding-left: 0rem;
  }
}

.titleFirst,
.titleSecond,
.titleThird {
  font-size: 1.2rem;
  font-weight: bold;
  color: #4a1bb4;
  margin-bottom: 0.5rem;
}
@media screen and (max-width: 768px) {
  .titleFirst,
  .titleSecond,
  .titleThird {
    font-size: 1rem;
  }
}

.quantityFirst,
.quantitySecond,
.quantityThird {
  font-size: 1.1rem;
  font-weight: bold;
  color: #4f4f4f;
}
@media screen and (max-width: 768px) {
  .quantityFirst,
  .quantitySecond,
  .quantityThird {
    font-size: 1rem;
  }
}

.sumQuantityFirst,
.sumQuantitySecond,
.sumQuantityThird {
  font-size: 1.1rem;
  font-weight: bold;
  color: #4a1bb4;
}
@media screen and (max-width: 768px) {
  .sumQuantityFirst,
  .sumQuantitySecond,
  .sumQuantityThird {
    font-size: 1rem;
  }
}

.quantityFirst > p:nth-of-type(2),
.quantitySecond > p:nth-of-type(2) {
  color: #4f4f4f;
}

.subtitles > p {
  font-size: 1.1rem;
  font-weight: bold;
  color: #4f4f4f;
  padding-left: 1em;
}
@media screen and (max-width: 768px) {
  .subtitles > p {
    font-size: 1rem;
    padding-left: 0em;
  }
}

.footer {
  height: 3rem;
  position: relative;
}

.date-range {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 3rem;
}

.date-range-container {
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
@media screen and (max-width: 426px) {
  .date-range-container {
    gap: 0.3rem;
  }
}
.date-range-container .date-container {
  padding: 10px;
  background-color: #fdfdfd;
  border-radius: 15px;
  color: #656464;
  box-shadow: 6px 6px 8px 0 rgba(0, 0, 0, 0.3), -12px -12px 24px 0 rgba(255, 255, 255, 0.5);
}
@media screen and (max-width: 426px) {
  .date-range-container .date-container {
    padding: 5px;
  }
}
.date-range-container .date-container p {
  margin: 0;
  padding-bottom: 5px;
}
.date-range-container .date-container input {
  padding: 0px;
  font-size: 1.2rem;
  background: #fdfdfd;
  border: none;
}
@media screen and (max-width: 426px) {
  .date-range-container .date-container input {
    font-size: 1rem;
  }
}
.date-range-container .date-container input:focus {
  outline: none;
}
.date-range-container .date-container input:active {
  outline: none;
}
.date-range-container .date-container input:hover {
  outline: none;
}
.date-range-container .date-text {
  font-size: 3rem;
  color: #656464;
}

.date-submit button {
  background: linear-gradient(to bottom right, #5c35b6, #8461c5);
  border: none;
  color: white;
  padding: 0.7rem 3rem;
  border-radius: 15px;
  font-size: 1rem;
  box-shadow: 6px 6px 8px 0 rgba(0, 0, 0, 0.3), -12px -12px 24px 0 rgba(255, 255, 255, 0.5);
  margin: 0rem 0.5rem;
}
.date-submit button:active {
  box-shadow: 3px 3px 8px 0 rgba(0, 0, 0, 0.3), -5px -5px 24px 0 rgba(255, 255, 255, 0.5);
}

.summary-buttons {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 4rem;
}
@media screen and (max-width: 426px) {
  .summary-buttons {
    gap: 1rem;
  }
}
.summary-buttons button {
  background: #f4f4f4;
  box-shadow: 4px 6px 6px 3px rgba(0, 0, 0, 0.3), -12px -12px 24px 0 rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 15px;
  cursor: pointer;
  padding: 4px 8px 3px;
}
.summary-buttons button:active {
  box-shadow: 2px 3px 3px 3px rgba(0, 0, 0, 0.3), -6px -6px 24px 0 rgba(255, 255, 255, 0.5);
}
.summary-buttons button img {
  width: 80px;
  border-radius: 45px;
  padding: 12px 5px;
}
@media screen and (max-width: 426px) {
  .summary-buttons button img {
    width: 60px;
  }
}

.summary-output-container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  padding: 2rem 2rem 1rem 2rem;
}
@media screen and (max-width: 370px) {
  .summary-output-container {
    padding: 2rem 0.2rem 1rem 0.2rem;
  }
}
@media screen and (min-width: 370px) and (max-width: 426px) {
  .summary-output-container {
    padding: 2rem 1rem 1rem 1rem;
  }
}

.summary-container {
  display: flex;
  flex-direction: column;
  width: 40%;
  background-color: #ffffff;
  border-radius: 15px;
  margin: 1rem auto;
  padding-bottom: 0.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative;
  display: none;
}
@media screen and (max-width: 576px) {
  .summary-container {
    width: 95%;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  .summary-container {
    width: 80%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1025px) {
  .summary-container {
    width: 70%;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1250px) {
  .summary-container {
    width: 60%;
  }
}

.summary-container.active {
  display: block;
}

.summary-product-image {
  width: 60px;
  border-radius: 45px;
  border: 5px solid #ffffff;
  position: absolute;
  top: -20px;
  left: 10px;
}

.summary-shop-name {
  color: #656464;
  font-weight: bold;
  font-size: 1rem;
}

.summary-shop-name,
.summary-daily-sale,
.summary-daily-price {
  padding: 10px 0px 2px 2px;
  border-bottom: 2px solid #d9d9d9;
}

@media screen and (max-width: 370px) {
  .summary-daily-sale,
  .summary-daily-price {
    padding: 10px 0px 2px 0px;
  }
}

.summary-title {
  padding-left: 10px;
  font-size: 1.1rem;
  font-weight: bold;
  color: #333333;
}

.summary-total {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  padding: 1rem 1rem 1rem 1rem;
  background-color: #f4f4f4;
  margin: 1rem 2rem 1rem 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 1.1rem;
  font-weight: bold;
}
.summary-total p {
  padding-right: 0rem;
  margin: 0em 0em;
  padding-left: 15px;
}
.summary-total .summary-total-quantity {
  padding-right: 0rem;
  padding-left: 15px;
  color: rgb(92, 53, 182);
}
@media screen and (max-width: 1250px) {
  .summary-total .summary-total-quantity {
    padding-left: 0px;
  }
}
.summary-total .summary-total-prize {
  padding-left: 15px;
  color: rgb(92, 53, 182);
}
@media screen and (max-width: 1250px) {
  .summary-total .summary-total-prize {
    padding-left: 0px;
  }
}
@media screen and (max-width: 370px) {
  .summary-total {
    margin: 1rem 0.2rem 2rem 0.2rem;
    padding: 1rem 0rem 1rem 0rem;
    font-size: 0.9rem;
  }
}
@media screen and (min-width: 370px) and (max-width: 426px) {
  .summary-total {
    margin: 1rem 0.5rem 2rem 0.5rem;
    padding: 1rem 0rem 1rem 0rem;
    font-size: 1rem;
  }
}
@media screen and (min-width: 426px) and (max-width: 1250px) {
  .summary-total {
    margin: 1rem 1rem 2rem 1rem;
    padding: 1rem 0rem 1rem 1rem;
  }
}

.summary-footer {
  padding: 3rem;
}

.graphs-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.graphs {
  position: relative;
  width: 60%;
  display: none;
}
@media screen and (max-width: 640px) {
  .graphs {
    width: 90%;
  }
}

.graphs.active {
  display: block;
  background-color: #fdfdfd;
  border-radius: 15px;
  padding: 2rem 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media screen and (max-width: 640px) {
  .graphs.active {
    padding: 0.5rem 0.5rem;
  }
}

/* Settings Page */
.addShopName {
  width: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 3rem auto 3rem auto;
  flex-direction: column;
}
@media screen and (max-width: 426px) {
  .addShopName {
    width: 90%;
    margin: 2rem auto 2rem auto;
  }
}

@media screen and (max-width: 426px) {
  #shopsList {
    width: 80%;
    padding: 0.5rem 0.5rem;
  }
}

.shopNameSett {
  width: 90%;
  height: 2.5rem;
  padding-left: 1rem;
  background: linear-gradient(to bottom right, #f2f2f2, #dfdfdf);
  border-radius: 20px;
  box-shadow: 4px 6px 6px 1px rgba(0, 0, 0, 0.3);
  border: none;
  font-size: 1rem;
}

.shopNameSett:focus {
  outline: none;
}

.AddShopButton {
  border: none;
  color: white;
  padding: 10px 25px;
  margin-top: 0.5rem;
  border-radius: 20px;
  font-size: 1rem;
  box-shadow: 2px 3px 4px 1px rgba(0, 0, 0, 0.3);
  background: linear-gradient(to bottom right, #5c35b6, #8461c5);
  cursor: pointer;
}
@media screen and (max-width: 426px) {
  .AddShopButton {
    margin-bottom: 1rem;
  }
}

.AddShopButton:active {
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.3);
}

.AddShopButton:hover {
  background: linear-gradient(to bottom right, #512fa1, #7456ad);
}

.titleSettShops {
  width: 90%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 2rem auto;
  flex-direction: column;
  font-size: 1.2rem;
  font-weight: bold;
  color: #515050;
}
@media screen and (max-width: 426px) {
  .titleSettShops {
    width: 90%;
    margin: 1rem 0rem;
  }
}

.store-icon {
  width: 24px;
  margin: 8px;
  filter: invert(41%) sepia(0%) saturate(0%) hue-rotate(102deg) brightness(91%) contrast(85%);
}

.settings-title-container {
  width: 28rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 2rem auto 3rem auto;
  padding: 1rem 1rem;
  flex-direction: row;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}
@media screen and (max-width: 426px) {
  .settings-title-container {
    width: 80%;
    padding: 0.5rem 0.5rem;
  }
}

.settings-title-background {
  padding: 0.5rem;
  border-radius: 4rem;
  height: auto;
  width: auto;
  margin: 0rem 2rem 0rem 2rem;
}

.set-first-menu {
  background: linear-gradient(45deg, #ffd3a5, #fd6585);
}

.set-second-menu {
  background: linear-gradient(45deg, #5efce8, #736efe);
}

.settings-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #656464;
}

.settings-title-pic {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  width: 2.2rem;
  height: 2.2rem;
  filter: invert(99%) sepia(5%) saturate(53%) hue-rotate(15deg) brightness(113%) contrast(95%);
}

.shopContainer {
  display: flex;
  align-items: center;
  width: 90%;
  padding-left: 1rem;
  border-bottom: 2px solid #dfdfdf;
}
@media screen and (max-width: 426px) {
  .shopContainer {
    width: 95%;
    padding-left: 0.5rem;
  }
}

.trashButton {
  width: 2rem;
  height: 1.5rem;
  background: linear-gradient(to bottom right, #f2f2f2, #dfdfdf);
  border-radius: 15px;
  box-shadow: 2px 3px 4px 1px rgba(0, 0, 0, 0.3);
  border: none;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.trashButton:active {
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.3);
}

.trashImage {
  width: 18px;
  filter: invert(41%) sepia(0%) saturate(0%) hue-rotate(102deg) brightness(91%) contrast(85%);
}

.shopContainerMain {
  width: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 0.5rem auto 0.5rem auto;
  flex-direction: column;
}
@media screen and (max-width: 426px) {
  .shopContainerMain {
    width: 90%;
  }
}

.shopsListSettings {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0rem auto 5rem auto;
  width: 100%;
}
.shopsListSettings .shop {
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 2px solid #dfdfdf;
}
.shopsListSettings p {
  padding-left: 1rem;
}

.shop-container {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.shop-container img {
  width: 100px;
  height: 100px;
  margin-right: 1rem;
}

.button-container {
  margin-left: auto;
  padding-right: 2rem;
}
@media screen and (max-width: 426px) {
  .button-container {
    padding-right: 0rem;
  }
}
.button-container .edit-button,
.button-container .delete-button {
  background-color: transparent;
  border: none;
  margin: 0;
  cursor: pointer;
}
.button-container .edit-button img,
.button-container .delete-button img {
  display: block;
  width: 90%;
  height: 90%;
}
.button-container .edit-button img {
  filter: brightness(0) saturate(100%) invert(56%) sepia(85%) saturate(604%) hue-rotate(168deg) brightness(101%) contrast(88%);
}
.button-container .edit-button:focus, .button-container .edit-button:hover {
  filter: brightness(0) saturate(100%) invert(31%) sepia(94%) saturate(879%) hue-rotate(184deg) brightness(87%) contrast(82%);
}
.button-container .delete-button img {
  filter: brightness(0) saturate(100%) invert(33%) sepia(87%) saturate(3694%) hue-rotate(335deg) brightness(99%) contrast(89%);
}
.button-container .delete-button:focus, .button-container .delete-button:hover {
  filter: brightness(0) saturate(100%) invert(30%) sepia(76%) saturate(2026%) hue-rotate(335deg) brightness(72%) contrast(96%);
}

.inputFieldShop {
  height: 1.5rem;
  padding: 0.3rem 1rem 0.3rem 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  background: linear-gradient(to bottom right, #efefef, #e9e9e9);
  border-radius: 5px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
  border: none;
  font-size: 1rem;
}
.inputFieldShop:focus {
  outline: none;
}

.prices-main {
  width: 37rem;
  display: flex;
  flex-direction: column;
  margin: 0rem auto;
  align-items: flex-end;
}
@media screen and (min-width: 426px) and (max-width: 640px) {
  .prices-main {
    width: 80%;
  }
}
@media screen and (max-width: 426px) {
  .prices-main {
    width: 90%;
  }
}

.prices-Maincontainer {
  width: 90%;
  background-color: #ffffff;
  border-radius: 15px;
  margin: 1rem auto;
  padding: 0rem 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.prices-containers {
  display: flex;
  flex-direction: row;
  width: 95%;
  background-color: #f6f6f6;
  margin: 2rem auto 2rem auto;
  padding: 0.5rem 0rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.prices-image {
  flex: 1 1 33.33%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .prices-image {
    flex: 18%;
    padding-left: 10px;
  }
}
.prices-image img {
  width: 55px;
  border-radius: 25px;
  margin-right: 1rem;
}
.prices-image p {
  color: #292929;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .prices-image p {
    display: none;
  }
}

.prices-InputContainer {
  flex: 1 1 66.67%;
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width: 768px) {
  .prices-InputContainer {
    flex: 78%;
  }
}

.prices-inputDescription {
  display: flex;
  align-items: center;
  gap: 1.2em;
  justify-content: flex-start;
  margin: 10px 0px 10px 20px;
}
@media screen and (max-width: 768px) {
  .prices-inputDescription {
    gap: 0.5rem;
  }
}
.prices-inputDescription label {
  margin-left: 2rem;
}
@media screen and (max-width: 768px) {
  .prices-inputDescription label {
    margin-right: 0%;
  }
}
.prices-inputDescription input {
  width: 5em;
  height: 1.8em;
  border-radius: 5px;
  border: 1px solid #a3a3a3;
  text-align: right;
}
.prices-inputDescription input:hover {
  border: 1px solid #939393;
}
.prices-inputDescription p {
  margin: 0px 20px 0px 0px;
}
@media screen and (max-width: 768px) {
  .prices-inputDescription p {
    margin: 0px 10px 0px 0px;
  }
}

.prices-save {
  width: 7rem;
  border: none;
  color: white;
  padding: 10px 25px;
  margin-top: 0.5rem;
  border-radius: 20px;
  font-size: 1rem;
  box-shadow: 2px 3px 4px 1px rgba(0, 0, 0, 0.3);
  background: linear-gradient(to bottom right, #5c35b6, #8461c5);
  cursor: pointer;
}
.prices-save:active {
  box-shadow: 1px 1px 4px 1px rgba(54, 54, 54, 0.3);
}
.prices-save:hover {
  background: linear-gradient(to bottom right, #512fa1, #7656b0);
}

/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
.modal-content p {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.close-modal {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-modal:hover,
.close-modal:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Main Menu page */
.textWelcome {
  padding: 0.6em 2em;
  color: #ececec;
  font-size: 1.6rem;
  font-weight: bolder;
}

.submenu {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 70%;
  box-sizing: initial;
}

.submenu-rows {
  display: flex;
  padding: 1rem;
}

.submenu-tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0.4em 1.5em;
  cursor: pointer;
  font-weight: bold;
  transition: background ease 0.3s;
  background: #f7f7f7;
  border-radius: 15px;
  box-shadow: 2px 3px 4px 1px rgba(0, 0, 0, 0.3);
  padding-top: 1.5rem;
  margin: 0rem 1rem 0rem 1rem;
}

.submenu-tabs:active {
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.3);
}

/* .accordion:active {
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.3);
  } */
.submenu-background {
  padding: 0.5rem;
  border-radius: 4rem;
  height: auto;
  width: auto;
}

.first-menu {
  background: linear-gradient(45deg, #ffd3a5, #fd6585);
}

.first-menu:hover {
  background: linear-gradient(45deg, #ecc499, #e95c7b);
}

.second-menu {
  background: linear-gradient(45deg, #90f390, #33a715);
}

.second-menu:hover {
  background: linear-gradient(45deg, #84df84, #2b8e12);
}

.third-menu {
  background: linear-gradient(45deg, #ffe985, #fa742b);
}

.third-menu:hover {
  background: linear-gradient(45deg, #e6d177, #e16928);
}

.fourth-menu {
  background: linear-gradient(45deg, #5efce8, #736efe);
}

.fourth-menu:hover {
  background: linear-gradient(45deg, #54decb, #635fde);
}

.submenu-pic {
  display: flex;
  justify-content: center;
  padding: 1em;
  width: 3em;
  height: 3em;
  filter: invert(99%) sepia(5%) saturate(53%) hue-rotate(15deg) brightness(113%) contrast(95%);
}

.submenu-title {
  color: #656464;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
}

html {
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  min-height: 100vh;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  width: 100vw;
  font-family: "Roboto", sans-serif;
  background-color: #e5e5e5;
  overflow-x: hidden;
  max-width: 100%;
  overflow-y: hidden;
}/*# sourceMappingURL=style.css.map */